# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.env

# Ignore Docker-related files and logs
Dockerfile
docker-compose.yml
*.log

# Ignore system files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Ignore node_modules (if applicable)
node_modules/

# Ignore unnecessary folders
assets/
